//APP STYLING

/* Styling (required):
  This application should look good, take some time to pick a palette and plan out your design 
  - this will also help with splitting the app into React components. 
  You can use tools like Figma or wireframe pro to plan what your application is going to look like.
  Use modules for styling, don't forget about other SCSS features, like a separate file for palette or variables.
 */

* {
  box-sizing: border-box;
  justify-content: center;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.hidden {
  visibility: hidden;
}

//bonus - add media queries based on screensize
