
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    min-width: 30vw; 
    margin: 2em;
  
    #search-input {
      height: 30px;
      min-width: 30vw;
      max-width: 90vw;
      margin: 5px;
    };
  
    #search-button{
      background-color: rgb(32, 6, 227);
      &:hover {
        background-color: green;
      };
    };
  };